body {
    background-color: lightsteelblue; font-size: 30px;
}

p {
    text-align: justify;   
}

h1{
    text-align: center; color: indianred; font-size: 60px;
}

h2{
    text-align: center; color: palevioletred;
}

h3 {
	text-align: center; color: whitesmoke;
}

