body {
    background-color: #Dfb9d8; font-size: 30px;
}

p {
    text-align: justify;   color:#fefdfe
}

h1{
    text-align: center; color: #a753ba; font-size: 60px;
}

h2{
    text-align: center; color: #bb87ca;
}

h3 {
	text-align: center; color:#f768b3;
}

#imagem-principal{
    wid
}